@use 'reset';

#wrap{
  width: 100%;
  height: 100vh;
  position: relative;
  background: black;
  overflow: hidden;

  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  header {
    width: 100%;
    padding: 5vh 10vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    h1 {
      font: bold 1.8rem/1 'arial';
      color: white;
      cursor:pointer;
    }

    .gnb{
      display:flex;
      gap:30px;
      font: bold 1.2rem/1 'arial';
      color: white;
      cursor:pointer;
    }

    p{
      font-size: 1.6rem;
      color: white;
      display: none;
      cursor: pointer;
    }
  }

  .textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align:center;

    h2{
      font-size: 10vw;
      font-weight:normal;
      color: white;
      font-family: "Fascinate", system-ui;
      text-shadow: 5px 5px 5px lch(0 0 0 / 0.1);
    }

    .btnOpen{
      display: inline-block;
      padding: 5px 20px;
      border: 1px solid white;
      font-size: 1rem/1 'arial';
      color: white;

      &:hover{
        animation: bouncing 0.6s ease-in-out infinite;
      }
    }
  }

  footer{
    position: absolute;
    left: 10%;
    bottom: 3vh;
    width: 80%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;

    .line{
      width: 100%;
      height: 1px;
      background: white;
      position: absolute;
      top: 0px;
      left: 0px;
     }
    
     .sns{
      display: flex;
      gap: 14px;
      font-size: 1.2rem;
     }

     p{
      font-size: 0.8rem;
      letter-spacing: 1px;
     }
  }
}

@media screen and (max-width: 849px) {
  #wrap{
    header {
      .gnb{
        display:none;
      }

      p{
        display: block;
      }
    }
  
    .textBox{
      h2{
        font-size: 15vw;
      }
  
      .btnOpen{
        margin-top: 20px
      }
    }
  
    footer{
      flex-wrap:wrap;
      
       .sns{
        width: 100%;
        justify-content:center;
        gap: 20px;
        margin-bottom:10px;
       }
  
       p{
        width: 100%;
        text-align:center;
       }
    }
  }
}


@keyframes bouncing{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

